body{
    background: url("../Food_Assets/Food_Assets/assets/hero/hero-1.jpg") no-repeat center center/cover;
}
:root{
    --main-color:#fd4646;
    --text-color:#02ac70;
    --bg-color:#fff;
    --container-color:#8f0b0b;
}
.sc-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sc-container img{
    width: 200px;
    margin: 2rem 0;
}
.sc-container h1{
    font-size: 2.8rem;
    margin-bottom: 10px;
    color:var(--bg-color);
}
.sc-container p{
    max-width: 600px;
    font-size: 0.970rem;
    text-align: center;
    margin: 0.5rem 0;
}
.sc-btn{
    padding: 12px 20px;
    border-radius: 2rem;
    background: var(--text-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
}
